html,body{

    height: 100%;
    width:100%;
    color: black;
    background-color: black;

}

.navbar-custom {
    background-color: black !important;
}

.top{
    background-color: black;
    background-image:linear-gradient(rgba(100, 100, 100, 0.1),rgba(0,0,0,0.7)), url("../img/grad_pic_enhanced_transparent_background.png");
   /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: contain;
   /* background-size: cover; */
    font-family: Arial, Helvetica, sans-serif;
}
.top-projects {
    /* background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url("../img/Skylinebackground.jpg"); */
    /* background-attachment: fixed; */
    background-repeat: no-repeat, repeat;
    background-color: black;
    /* background-size: cover; */
    font-family: Arial, Helvetica, sans-serif;
}

#entreprenuership {
    background: lightgray;
}

#xray{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url("../img/xray-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

#connecting{
    background: lightgray;
    color: black;
}

#saving{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url("../img/Skylinebackground.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

#PlanMan{
    background: lightgray;
}

#other{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url("../img/Skylinebackground.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
 }

 h1{
     font-family: 'Crimson Text';
 }
.change{
    font-size: 75px;
}
 h5{
     font-family: 'Work Sans';
 }
 /* .project:hover{
    text-decoration: underline;
 } */

 .project > a {
    position: relative;
    color: #fff;
    text-decoration: none;
  }
  
  .project > a:hover {
    color: #fff;
  }

.project > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .project > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .top-contact{
    background-color: black;
  }

  .custom-rounded {
    border-radius:1.5rem!important
}

.card-img-top {
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}



.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.363), 0 4px 8px rgba(255, 255, 255, 0.205);
  /* text-decoration: underline; */
}